<!DOCTYPE html>
<html>
    <h1>{{reportTitle}}</h1>
    <li><a href="/logout">Logout</a></li>
    {% if request.user.is_superuser %}
    <li><a href="/adminhome">Site Manager home</a></li>
    {% endif %}
    <p>Title: {{reportTitle}}</p>
    {% if reportGroup != '' %}
    <p>The group {{reportGroup}} has access to this report </p>
    {% endif %}
    <p>Short description: {{reportShort}}</p>
    <p>Long description: {{reportLong}}</p>
    <p>Created: {{created}}</p>
    <p>Public: {{public}}</p>
    <p>File: {{document}} </p>
    <p>Encrypted?: {{encrypt}} </p>
    {% if request.user == owner %}
        <form action="{%  url 'editreport' %}" method="GET">{% csrf_token %}
        <button type = "submit" value = "{{report_pk}}" name = "edit">Edit</button></li></form>
    {% endif %}
    
    {% if request.user == owner or request.user.is_superuser %}
        <form action = "{% url 'deletedreport' %}" method = "POST">{% csrf_token %}
        <button type = 'submit' name = 'delete' value = "{{report_pk}}">Delete report</button></p>
        </form> 
    {% endif %}

</html>
