<!DOCTYPE html>
<html>
    <h1>Manage Reporters</h1>
    <ul><a href="/adminhome">Site Manager Home</a></ul>
    <ul><a href="/logout">Logout</a></ul>
    <form action="{%  url 'adminuser' %}" method="POST">{% csrf_token %}
        <p><input id = "search" type = "text" name = 'search' value="{{current_name}}">    
        <button type = 'submit'>Search</button></p>
    </form>
    <form action="{%  url 'edituser' %}" method="GET">{% csrf_token %}
        <ul>
            {% for reporter in reporterList %}
            <li>{{reporter.user.username}} <button type = "submit" value = "{{reporter.user.username}}" name = "edit">Edit</button></li>
        {% endfor %}
        </ul>
    </form>
</html>

