<!DOCTYPE html>
<html>
<h1>SecureShare Login</h1>
<div id="content-main">
<form action="/login/" method="POST" id="login-form">{% csrf_token %}
  <div>
  <label for="username">Username: </label>
  <input id = "username" type = "text" name = "username" value="{{current_name}}">
  </div>
  <div>
  <label for="password">Password: </label>
  <input id = "password" type = "password" name = "password" value="{{current_name}}">
  <input type="hidden" name="next" value="{{next}}">
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in" />
  </div>
    <p>Not a user? Register <a href="/register">here</a></li> </p>
  <div>
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
</html>
