<!DOCTYPE html>
<html>
     <h1>Your Messages</h1>
    <p><a href="/logout">Logout</a>
    <a href="/userpage">Home</a></p>

<form action="/messaging3/" method="post">
    {% csrf_token %}
    {% for i in results %}
    {% if request.user.username == i.reader %}
    <tr> 
        <p> <b>Message:</b> {{ i.message }}</p>
        <p> <b>From:</b> {{i.author}} </p>
    <input type = "checkbox" name = "deletebox" value = "{{ i.pk}}"> Delete?
    <input type = "checkbox" name = "decryptbox" value = "{{ i.message}}"> Decrypt?
        <br></br>
    </tr>
    {% endif %}
    {% endfor %}
    <input type="submit" value="Ok" />
</form>
</html>