<!DOCTYPE html>
<html>

<h1>Register for SecureShare</h1>
{% if password_error %}
    <p>Passwords must match</p>
{% endif %}

{% if username_error %}
    <p>That username is already in use</p>
{% endif %}
<div id="content-main">
<form action="/register/" method="POST" id="register-form">{% csrf_token %}
  <div>
  <label for="username">Username: </label>
  <input id = "username" type = "text" name = "username" value="{{username}}">
  </div>
  <div>
  <label for="password">Password: </label>
  <input id = "password" type = "password" name = "password" value="{{current_password}}">
  </div>
  <div>
  <label for="password2">Retype Password: </label>
  <input id = "password2" type = "password" name = "password2" value="{{next_password}}">
  </div>
  <div>
  <label for="email">Email: </label>
  <input id = "email" type = "text" name = "email" value="{{email}}">
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Register" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
</html>

