<html>
	<h1> Welcome {{request.user.username}}!</h1>
    <ul><a href="/logout">Logout</a></ul>
    {% if request.user.is_superuser %}
    <ul><a href="/adminhome">Admin Home</a></ul>
    {% endif %}
    <body>
		<a href="{% url 'createreport' %}">Create Report</a>
		<p><a href="{% url 'messaging' %}">Send Messages</a></p>
        <p><a href="{% url 'messaging3' %}">View Your Messages</a></p>
		<h2>Your Groups: </h2>
        <ul>
            {% for group in request.user.groups.values %}
            <a href="{% url 'grouphome' %}">{{group.name}}</a><br><br>
            {% endfor %}
        </ul>
        <h2>Reports: </h2>
        <a href="{% url 'userreports' %}">View reports</a>
        <h2>Options:</h2>
		<a href="{% url 'creategroup' %}">Create Group</a><br><br>
        <a href="{% url 'addgroup' %}">Add Member to Group</a>
    </body>
</html>
