<html>
	<h1> Welcome {{request.user.username}}!</h1>
    {% if request.user.is_superuser %}
    <a href="/adminhome">Site Manager</a>
    {% endif %}
    <a href="/userpage">Home</a>
    <a href="/logout">Logout</a>
    
    
    <body>
        <h2> Your Messages: </h2>
        <ul>
		<p><a href="{% url 'messaging' %}">Send Messages</a></p>
        <p><a href="{% url 'messaging3' %}">View Your Messages</a>&nbsp&nbsp({{ results }})</p>
        </ul>
		<h2>Groups: </h2>
        <ul>
        <a href="{% url 'grouphome' %}">Browse Groups</a><br><br>
        <a href="{% url 'creategroup' %}">Create Group</a><br><br>
        </ul>
        <h2>Folders: </h2>
        <ul>
        <a href="{% url 'userfolders' %}">Browse Folders</a><br><br>    
        <a href="{% url 'createfolder' %}">Create Folder</a><br><br>
        </ul> 
        <h2>Reports: </h2>
        <ul>
        <a href="{% url 'userreports' %}">Browse Reports</a><br><br>
        <a href="{% url 'createreport' %}">Create Report</a><br><br>
        </ul>
    </body>
</html>
