<!DOCTYPE html>
<html>
	<h1>Welcome User</h1>
	<body>
		<button type="button">Create Report</button>
		<button type="button">Send Message</button>
		<h2>Your Groups: </h2>
		<p>Group 1</p>
		<table border="1" style="width:50%">
			<tr>
				<td><b>First Name</b></td>
				<td><b>Last Name</b></td> 
			</tr>
			<tr>
				<td>Mike</td>
				<td>Sciarrino</td> 
			</tr>
			<tr>
				<td>Liz</td>
				<td>Quin</td> 
			</tr>
			<tr>
				<td>Sarah</td>
				<td>MacAdam</td> 
			</tr>
			<tr>
				<td>Ryan</td>
				<td>Bannon</td> 
			</tr>
		</table>
		<p></p>
		<button type="button">Create Group</button>
</html>